<div class="register-continer mt-0">
<div class="container  mt-0">
<div class="row">
    <!-- photo-div -->
    <div class="col-md-6 photo-width">

        <div class="photo-conainer">
               <div class="hello-doctor p-4 ">
                    <h1 class="text-white mt-5">
                        Hello <br> Doctor.
                    </h1>
                    <p class="text-white-50">
                        Welcome to the Savior website, which includes all possible medical services <br>
                        You can fill out our form if you are a doctor.
                    </p>
                    <p class="text-white-50 text-p2">
                        After filling out the form and sending it, you will receive a response <br>
                        Then we will inform you of the date of the interview to know our decision. 
                    </p>
               </div>
        </div>
     
    </div>
    <!-- form-divv -->
    <div class="col-md-6 p-4 form-width">
     <form class="clas-form" [formGroup]="DoctorForm" (ngSubmit)="SendDoctorToAdmin()">
        <h1 class="fw-bold">
            Register
        </h1>
        <p class="mt-4">
            The form must be filled out completely with correct information <br>
            <span class="p-span">We wish you a happy experience with us </span>
        </p>
     <div class="regist-inputs-name mt-4 d-flex ">
         <div class="w-50 pe-2 ">
            <div class="form-floating ">
                <input formControlName="fName" type="text" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="fw-bold">First Name</label>
                @if (DoctorForm.get('fName')?.errors&& DoctorForm.get('fName')?.touched) {
                    <div class="p-1">
                        @if (DoctorForm.get('fName')?.errors?.['required']) {
                         <p class="text-danger fw-bold"> First Name is required ! </p>
                        }
                        @if (DoctorForm.get('fName')?.errors?.['minlength']) {
                         <p class="text-danger fw-bold"> Enter more than five characters ! </p>
                        }
                        @if (DoctorForm.get('fName')?.errors?.['maxlength']) {
                         <p class="text-danger fw-bold">  Enter less than 100 characters! </p>
                        }
                    
                    </div>
                }
              </div>
         </div>
         <div class="w-50 ps-2 ">
            <div class="form-floating ">
                <input formControlName="lName" type="text" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="fw-bold">Last Name</label>
                @if (DoctorForm.get('lName')?.errors&& DoctorForm.get('lName')?.touched) {
                    <div class="p-1">
                        @if (DoctorForm.get('lName')?.errors?.['required']) {
                         <p class="text-danger fw-bold"> Last Name is required ! </p>
                        }
                        @if (DoctorForm.get('lName')?.errors?.['minlength']) {
                         <p class="text-danger fw-bold"> Enter more than five characters ! </p>
                        }
                        @if (DoctorForm.get('lName')?.errors?.['maxlength']) {
                         <p class="text-danger fw-bold">  Enter less than 100 characters! </p>
                        }
                    
                    </div>
                }
              </div>
         </div>
         
     </div>

     <div class="w-100">
        <div class="mt-1">
            <div class="form-floating ">
                <input formControlName="email" type="" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="fw-bold">Email</label>
                @if (DoctorForm.get('email')?.errors&& DoctorForm.get('email')?.touched) {
                    <div class="p-1">
                        @if (DoctorForm.get('email')?.errors?.['required']) {
                         <p class="text-danger fw-bold"> Email is required ! </p>
                        }
                        @if (DoctorForm.get('email')?.errors?.['email']) {
                         <p class="text-danger fw-bold"> Enter Valid Email ! </p>
                        }
                        
                    
                    </div>
                }
              </div>
         </div>
     </div>
    
     <div class="w-100 ">
        <div class="form-floating ">
            <input formControlName="clinicName" type="text" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" class="fw-bold">Hospital Name</label>
            @if (DoctorForm.get('clinicName')?.errors&& DoctorForm.get('clinicName')?.touched) {
             <div class="p-1">
                 @if (DoctorForm.get('clinicName')?.errors?.['required']) {
                  <p class="text-danger fw-bold"> Hospital Name is required ! </p>
                 }
                 @if (DoctorForm.get('clinicName')?.errors?.['minlength']) {
                  <p class="text-danger fw-bold"> Enter more than Tow characters ! </p>
                 }
                 @if (DoctorForm.get('clinicName')?.errors?.['maxlength']) {
                  <p class="text-danger fw-bold">  Enter less than 100 characters! </p>
                 }
             
             </div>
         }
          </div>
     </div>
     
     

     <div class="regist-inputs-city mt-2 d-flex ">
        <div class="w-50 pe-2">
            <div class="form-floating ">
                <input formControlName="city" type="text" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="fw-bold">City</label>
                @if (DoctorForm.get('city')?.errors&& DoctorForm.get('city')?.touched) {
                    <div class="p-1">
                        @if (DoctorForm.get('city')?.errors?.['required']) {
                         <p class="text-danger fw-bold"> City is required ! </p>
                        }
                        @if (DoctorForm.get('city')?.errors?.['minlength']) {
                         <p class="text-danger fw-bold"> Enter more than Two characters ! </p>
                        }
                        @if (DoctorForm.get('city')?.errors?.['maxlength']) {
                         <p class="text-danger fw-bold">  Enter less than 50 characters! </p>
                        }
                    
                    </div>
                }
              </div>
         </div>
        <div class="w-50 ps-2 ">
           <div class="form-floating ">
               <input formControlName="phoneNumber" type="tel" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput" placeholder="name@example.com">
               <label for="floatingInput" class="fw-bold">phone</label>
               @if (DoctorForm.get('phoneNumber')?.errors&&DoctorForm.get('phoneNumber')?.touched) {
                <div class="p-1">
                 @if (DoctorForm.get('phoneNumber')?.errors?.['required']) {
                    <p class="text-danger fw-bold"> Phone is Requierd !</p>
                 }
                 @if (DoctorForm.get('phoneNumber')?.errors?.['pattern']) {
                    <p class="text-danger fw-bold"> Please Enter Egyption Phone Number!</p>
                 }
                </div>
               }
             </div>
        </div>
    </div>
    <div class="w-100">
        <div class="mt-1">
            <div class="form-floating">
            <select formControlName="specialty" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput">
                <option selected value="select">Choose a specialization</option>
                @for (cato of catooCome; track $index) {
                    <option value="{{cato}}">{{cato}}</option>

                   }
                    
                    <!-- أضف التخصصات حسب حاجتك -->
                </select>
                <label for="floatingInput" class="fw-bold">Specialization</label>
                @if (DoctorForm.get('specialty')?.errors && DoctorForm.get('specialty')?.touched) {
                    <div class="p-1">
                        @if (DoctorForm.get('specialty')?.errors?.['required']) {
                            <p class="text-danger fw-bold"> Specialization is required ! </p>
                        }
                        @if (DoctorForm.get('specialty')?.errors?.['minlength']) {
                            <p class="text-danger fw-bold"> Enter more than Tow characters ! </p>
                        }
                        @if (DoctorForm.get('specialty')?.errors?.['maxlength']) {
                            <p class="text-danger fw-bold"> Enter less than 100 characters! </p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    

    <div class="w-100">
        <div class="mt-1">
            <div class="form-floating ">
                <input formControlName="medicalLicenseNumber" type="tel" class="form-control shadow-none first rounded-0 bg-transparent" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="fw-bold">Registration number</label>
                @if (DoctorForm.get('medicalLicenseNumber')?.errors&& DoctorForm.get('medicalLicenseNumber')?.touched) {
                    <div class="p-1">
                        @if (DoctorForm.get('medicalLicenseNumber')?.errors?.['required']) {
                         <p class="text-danger fw-bold"> Registration number is required ! </p>
                        }
                        @if (DoctorForm.get('medicalLicenseNumber')?.errors?.['pattern']) {
                         <p class="text-danger fw-bold"> Please enter your registration number with the Medical Syndicate: more 3-digit</p>
                        }
                        
                    
                    </div>
                }
                
              </div>
         </div>
     </div>
     <div  class="w-100">
        <div class="mt-1">
            <div class="form-floating ">
                <input formControlName="ssn" type="tel" class="form-control shadow-none first rounded-0 bg-transparent " id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="fw-bold">National number (SSN)</label>
                @if (DoctorForm.get('ssn')?.errors&& DoctorForm.get('ssn')?.touched) {
                    <div class="p-1">
                        @if (DoctorForm.get('ssn')?.errors?.['required']) {
                         <p class="text-danger fw-bold"> National number is required ! </p>
                        }
                        @if (DoctorForm.get('ssn')?.errors?.['pattern']) {
                         <p class="text-danger fw-bold">Please enter a 14-digit Egyptian National ID number  </p>
                        }
                        
                    
                    </div>
                }
              </div>
         </div>
     </div>

      <!-- <p class="mt-5 text-center fs-5 thanks">
        Thank you doctor ! <i class="fa-solid fa-face-smile"></i>
     </p>  -->

     <div class="regist-form-btn d-flex justify-content-center mt-5 p-2 ">
        
        <button class=" pb-2 pt-2  rounded-5" [disabled]="DoctorForm.invalid">
                 @if (spinner) {
                    <i class="fa fa-spin fa-spinner"></i>
                 }@else {
                    Register Now
                 }
        </button>

     </div>

     </form>
    </div>

</div> <!-- row -->
</div> <!-- continer -->

</div>