<!-- Footer -->
<footer class="footer bg-dark text-white py-4 mt-5 ">
    <div class="container">
      <div class="row">
        <!-- About Us Section -->
        <div class="col-md-4 text-center">
          <h5 class="fw-bold fs-4">Savior</h5>
          <p class="fw-bold fs-6">
            Your savior at all times
          </p>
          <p >
            You can book a doctor and request treatment and he will deliver it to you and request 
            a medical team and other distinguished services
          </p>
        </div>
  
        <!-- Quick Links Section -->
        <div class="col-md-4 text-center">
          <h5 class="fw-bold fs-4">About</h5>
          <ul class="list-unstyled">
            <li><a class="text-white">About Savior</a></li>
            <li><a class="text-white">Home</a></li>
            <li><a  class="text-white">Doctor</a></li>
            <li><a  class="text-white">pharmacy</a></li>
            <li><a  class="text-white">First Aid</a></li>
            <li><a  class="text-white">Emergency Team</a></li>
            
          </ul>
        </div>
                <!-- Contact Section -->
        <div class="col-md-4 text-center ">
          <h5 class="fw-bold fs-4">Contact Us</h5>
          <p><i class="fa fa-phone"></i> 01018097608</p>
          <p><i class="fa fa-envelope"></i> ahnurmed16&#64;gmail.com</p>
          
            <a href="#" class="text-white me-3"><i class="fab fs-4 fa-facebook"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fs-4 fa-twitter"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fs-4 fa-instagram"></i></a>
            <a class="text-white me-3"
              ><i class="fab fs-4 fa-linkedin"></i
            ></a>
          </div>
        </div>
        <hr>
      </div>
   
    
    <div class="container text-center">
      <p>
        &copy; 2025 All Rights Reserved. Created by
        <span class="developer-name">Eng Ahmed Sami  | Eng Nourhan Abdelaty</span>
      </p>
    </div>
  
    <!-- Optional: Add social media icons -->
    
  </footer>