@if (spinner) {
  <div class="vh-100 d-flex justify-content-center align-items-center">
    <i class=" fa fa-spin fa-spinner text-primary fw-bold fs-1"></i>
  </div>
}@else {
  <section class="w-100  d-flex justify-content-center">
    
    <div class="booking-card">
        <img [src]="GetFormContent.imageUrl" alt="Doctor's Image" class="doctor-img">
        <h2 class="text-black"> <span> Dr. </span> {{GetFormContent.fullName}}</h2>
        <div class="d-flex justify-content-around w-100 p-2 ">
          <p class="fw-bold"> {{GetFormContent.specialty}} </p>
          <p class="fw-bold"> {{GetFormContent.rating}} <i class="fa-solid fa-star starIco"></i></p>
          <p> <span class="fw-bold text-primary"> Price :</span> {{GetFormContent.bookingPrice}} Egp</p>


        </div>
    
        <form [formGroup]="BooKNow" >
           
            <div class="appointment-options">
                @for (item of DoctorDays; track $index) {
                  <input formControlName="day" type="radio" [id]="'day' + $index" name="day" [value]="item" class="hidden-radio" />
                  <label class="radio-label" [for]="'day' + $index">
                    {{ item }}
                  </label>
                  @if (BooKNow.get('day')?.errors&&BooKNow.get('day')?.touched) {
                    <div class="p-1 m-0">
                       @if (BooKNow.get('day')?.errors?.['required']) {
                        <p class="text-danger fw-bold"> Day Is required</p>
                       }
                    </div>
                  }
                }
              </div>
    
            <div class="input-group">
                <input formControlName="phone" type="tel" id="phone" name="phone" placeholder="Enter your phone number" required>
                @if (BooKNow.get('phone')?.errors&&BooKNow.get('phone')?.touched) {
                    <div class="p-1 m-0">
                       @if (BooKNow.get('phone')?.errors?.['required']) {
                        <p class="text-danger fw-bold"> phone Is required</p>
                       }
                       @if (BooKNow.get('phone')?.errors?.['pattern']) {
                        <p class="text-danger fw-bold"> Please Enter Egyption Phone Number </p>
                       }
                    </div>
                  }
            </div>
    
            <button type="submit" class="book-btn"
             routerLink="/reserv">Book </button>
        </form>
    </div>

</section>
}
