.starIco{
    color: yellow !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.booking-card {
    
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 800px;
    opacity: 0;
    animation: fadeInunder 3s ease-out forwards;
    background-color: transparent !important;
}

.doctor-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0D4F9B;
    margin-bottom: 15px;
}

h2 span{
    color: #0D4F9B;
    font-size: 30px !important;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}

.appointment-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.appointment-options label {
    border: 2px solid;
    color: #0D4F9B;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.appointment-options input {
    display: none;
}

.appointment-options label:hover {
    transform: scale(1.05);
}

.appointment-options input:checked + label {
    background: #0D4F9B;
    color: white;
    font-weight: bold;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.book-btn {
    background: #0D4F9B;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

.book-btn:hover {
    background: white;
    color: #0D4F9B;
    border: #0D4F9B 2px solid;
}
.booking-card:hover img{
    transform: rotate(360deg) scale(1.1);
}
.booking-card img{
    transition:all .8s ;
}
@keyframes fadeInunder {
    0% {
        opacity: 0;
        transform: translatey(200px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

/* Responsive Design */
@media (max-width: 500px) {
    .booking-card {
        padding: 20px;
    }
}