<section class="w-100  d-flex justify-content-center">

    <div class="booking-card">
        <img src="../../../../assets/imege/AhmedTop.jpg" alt="Doctor's Image" class="doctor-img">
        <h2>Dr. Ahmed Sami</h2>
        <p>dentists</p>
    
        <!-- <form> -->
            <div class="appointment-options">
                <input type="radio" id="time1" name="appointment" value="Saterday">
                <label for="time1">Saterday</label>
    
                <input type="radio" id="time2" name="appointment" value="Tuseday">
                <label for="time2">Tuseday</label>
    
                <input type="radio" id="time3" name="appointment" value="Thursday">
                <label for="time3">Thursday</label>
            </div>
    
            <div class="input-group">
                <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" required>
            </div>
    
            <button type="submit" class="book-btn"
             routerLink="/reserv">Book </button>
        <!-- </form> -->
    </div>

</section>