<section class="w-100 d-flex justify-content-center">
    <div class="checkout-container">
      <div class="address-form bg-transparent">
        <div class="form-header">
          <h2 class="form-title">
            <span class="title-icon"><i class="fas fa-map-marked-alt"></i></span>
            Delivery Address
          </h2>
          <div class="progress-bar">
            <div class="progress-step active"></div>
            <div class="progress-step"></div>
            <div class="progress-step"></div>
          </div>
        </div>
  
        <!-- ربط الفورم بـ Angular -->
         @if (TakeOrder ==false) {
             <form [formGroup]="checkForm" (ngSubmit)="checkNow()">
          <div class="form-body">
            <div class="input-group floating">
              <input type="tel" id="phone" class="form-input" placeholder=" " 
                     required formControlName="userPhone">
              <label for="phone" class="input-label">
                <i class="fas fa-mobile-alt"></i> Phone Number
              </label>
              <div class="underline"></div>
            </div>
  
            <!-- زر لتحديد الموقع -->
            <div class="text-center my-2">
                <button 
                  *ngIf="!locationSet" 
                  type="button" 
                  (click)="getLocation()" 
                  class="btn btn-outline-primary w-100 py-2 rounded-5">
                  <i class="fas fa-location-arrow"></i> Use My Location
                </button>
              
                <button 
                  *ngIf="locationSet" 
                  type="button" 
                  class="btn btn-success w-100 py-2 rounded-5" 
                  disabled>
                  <i class="fas fa-check-circle"></i> Location Set
                </button>
              </div>
  
            <div class="form-actions text-center">
              <button type="submit" [disabled]="spin" class="submit-btn">
                <span class="btn-text" *ngIf="!spin">Check Out</span>
                <span class="btn-text" *ngIf="spin">Processing...</span>
              </button>
            </div>
          </div>
        </form>
         }
       
       @if (TakeOrder) {
      
        <button  [disabled]="spin" class=" rounded-5 click-btn p-3 w-100 shadow-lg" (click)="TakenOrder(orderId.orderId)">
          @if (conspan) {
            <i class="fa fa-spin fa-spinner"></i>
          }@else {
               Confirm Order <i class="fas fa-paper-plane"></i>
          }
              </button>

       }
        
          
        
      </div>
    </div>
  </section>
  