<div class="container mx-auto  mt-5 ">
    <i class="fa-solid fa-chevron-right next" (click)="goNext()"></i>
    <i class="fa-solid fa-chevron-left prev" (click)="goPrev()"></i>
    <div class="row p-0 m-0">

        <div class="col-md-12 m-0  p-3 ">
            <div class="text-center p-2 mb-2">
                <p class="text-primary fw-bold">_ WHAT WE HAVE _ </p>
                <h3>
                    Solutions for everything for you
                </h3>
            </div>
            <div>
                <owl-carousel-o [options]="customOptions" class="m-0 " #owlCarousel>
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/smile.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Dentist</p>
                                   <h5 class="fw-bold">keep your Smile</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/heart care.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Saved</p>
                                   <h5 class="fw-bold">Heart Care Soluation</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/child-car.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">children</p>
                                   <h5 class="fw-bold">Take care of your child</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/0be620b4ce2962f994634032b4a84cd4.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Psychologically</p>
                                   <h5 class="fw-bold">help you get better</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/ciliniic.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Clinic's</p>
                                   <h5 class="fw-bold">Best Clinic Everywhere </h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/slider pharm.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Pharmacy</p>
                                   <h5 class="fw-bold">Nearest Pharmacy For your location </h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/slid-phone.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Medicine</p>
                                   <h5 class="fw-bold">Order your medications</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/slid Emerg.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Emergency</p>
                                   <h5 class="fw-bold">Request Emergency Time</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/fiesr slide.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">Save</p>
                                   <h5 class="fw-bold">Our first aid</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  p-2">
                           <div class="rounded-3 items p-3 shadow-sm">
                              <img src="../../../assets/imege/sli-team.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                                 <div class="mt-2 p-3">
                                  <p class="text-primary fw-bold">you Doctor?</p>
                                   <h5 class="fw-bold">Join Us Now</h5>
                                   <i class="fa-solid fa-chevron-right slider-icon fw-bold mt-2"></i>
                                 </div>
                           </div>
                        </div>

                    </ng-template> 
                    

                    
                  </owl-carousel-o>
            </div>
            
        </div>
        

    </div>

</div>
