
<section id="home" class="text-center  d-flex align-items-center justify-content-center mb-4">
    <div class="contain text-center text-white  rounded-3 p-4">
        <h1 class="  fw-bold fs-1 p-2 pharmacy-title">
            SAVIOR PHARMACIES 
        </h1>
       
         <button class="p-2 medicin-btn rounded-3 ps-3 pe-3 fw-bold " routerLink="/searchMedicine">
            Searching for medicines  
         </button>
      
      

    </div>
  
   

</section>

     <!-- --- end --- -->
    
     
        <div class="container  rounded-3  shadow-lg">
            <div class="row text-center">

                <div class="col-md-6  medicine-delevey text-center rounded-3">
                   <div class="delivery p-4 text-center ">
                        <img src="../../../assets/imege/delivery.jfif" 
                             alt=""  height="300px" class="w-75 rounded-3">
                       <div class="p-2 mt-3">
                          <h4 class="fw-bold">
                            Search for the medicine you want and order  it<br> to reach you as quickly as possible
                            <br> Through our website  <br>and benefit from discounts
                          </h4>
                       </div>
                       <hr>
                         <button class="  fw-bold" routerLink="/searchMedicine">
                            <i class="fa-solid fa-right-long"></i> <span class="fs-4"> go </span>
                         </button>
                   </div>
                </div>
                <div class="col-md-6 nearst-pharmcy  text-center rounded-3">
                   <div class="nearest p-4 text-center ">
                        <img src="../../../assets/imege/near Pharm.jfif" 
                             alt=""  height="300px" class="w-75 rounded-3">
                       <div class="p-2 mt-3">
                          <h4 class="fw-bold">
                            Through us, you can search for the nearest pharmacies to you <br> and go to them.
                             You can deal with our affiliated pharmacies and get a discount
                          </h4>
                       </div>
                       <hr>
                         <button class="  fw-bold">
                            <i class="fa-solid fa-right-long"></i> <span class="fs-4"routerLink="/nearstForm" > go </span>
                         </button>
                   </div>
                </div>

                

            </div>
        </div>
   

    