#home{
    
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url(../../../assets/imege/water.jpg);
    background-size:  cover ;
    
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
   width: 100% !important;
    position: relative;
    background-attachment: fixed;
}
.pharmacy-title {
    font-size: 3rem; /* حجم الخط */
    font-weight: bold; /* خط عريض */
    white-space: nowrap; /* منع الانتقال إلى سطر جديد */
    overflow: hidden; /* إخفاء النص الزائد */
    border-right: 3px solid #0d6efd; /* مؤشر الكتابة */
    width: 0; /* العرض يبدأ من الصفر */
    animation: typing 5s steps(2000, end) infinite, blink-caret 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0; /* يبدأ العرض من الصفر */
    }
    to {
        width: 100%; /* ينتهي بالعرض الكامل */
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent; /* إخفاء المؤشر */
    }
    50% {
        border-color: transparent; /* إظهار المؤشر */
    }
}
.medicin-btn{
    background: transparent !important;
    color: white;
    border: white 2px solid;
    transition: all 1s;
}
.medicin-btn:hover{
    border: rgb(227, 227, 16) 2px solid;
    color: rgb(227, 227, 16);
    transform: scale(1.2);
}

.savior-doctor{

color: #0d4f9b;
}
.contain{
position: absolute;
top: 50%;

}
.btn-savior{
    border: white 2px solid;
    transition: all .7s;
}
.btn-savior:hover{
    border: #0d4f9b solid 2px ;
    color: #0d4f9b !important;
}


@media (max-width: 768px) {
#home {
    /* background-size: contain; يضمن عرض الخلفية بالكامل بدون قص */
    background-position: center center; /* يحافظ على تموضع الخلفية */
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url(../../../assets/imege/medicine-phone.jpg);
    background-size:  cover ;
    
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
   width: 100% !important;
    position: relative;
    background-attachment: local;
}

}





/* ----- */

 @keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translatey(200px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

.nearst-pharmcy {
    opacity: 0;
    animation: fadeInRight 3s ease-out forwards;
}
 @keyframes fadeInleft {
    0% {
        opacity: 0;
        transform: translatey(-200px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

.medicine-delevey {
    opacity: 0;
    animation: fadeInleft 3s ease-out forwards;
   
}
.row{
    overflow: hidden;
}

.delivery button {
    background-color: transparent;
    border:  none;
    color:  #0d6efd;
    transition: transform 1s;
}
.delivery button:hover{
    transform: scale(1.3);
}
.nearest button {
    background-color: transparent;
    border:  none;
    color:  #0d6efd;
    transition: transform 1s;
}
.nearest button:hover{
    transform: scale(1.3);
}
.delivery button i {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 1s;
}
.delivery button:hover i {
    opacity: 1;
    transform: translateX(0);
}
.nearest button i {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 1s;
}
.nearest button:hover i {
    opacity: 1;
    transform: translateX(0);
}

/*  end */
