
<div class="signup-container mt-5 mb-0">

        <div class="signup-card">
            <h2 class="title mb-3">Change Password</h2>
            @if (erroeMsg) {
              <p class="validation"> {{erroeMsg}} ! </p>
            }

            <form [formGroup]="UpdatePaswwordForm" (ngSubmit)="UpdatePassword()">
               
            <div class="input-group">
       
                <input formControlName="oldPassword" type="password" placeholder="Current Password">
                      
                @if (UpdatePaswwordForm.get('oldPassword')?.errors && UpdatePaswwordForm.get('oldPassword')?.touched) {
        
                  <div class="  p-0 m-0">
                      @if (UpdatePaswwordForm.get('oldPassword')?.errors?.['required']) {
                          <p class="p-1 m-0 validation"> Current Password is required <i class="fa-solid fa-face-angry"></i> </p>
        
                      }
                      @if (UpdatePaswwordForm.get('oldPassword')?.errors?.['pattern']) {
                        <p class="p-1 m-0 validation"> password must be at least 8 characters long and include at least one uppercase letter,
                            one lowercase letter, one number, and one special character ( !&#64;#$).
                             <i class="fa-solid fa-face-angry"></i> </p>
        
                      }
                      
                  </div>
        
              }
        
              </div>
            <div class="input-group">
       
                <input formControlName="newPassword" type="password" placeholder="New Password">
                      
                @if (UpdatePaswwordForm.get('newPassword')?.errors && UpdatePaswwordForm.get('newPassword')?.touched) {
        
                  <div class="  p-0 m-0">
                      @if (UpdatePaswwordForm.get('newPassword')?.errors?.['required']) {
                          <p class="p-1 m-0 validation"> New Password is required <i class="fa-solid fa-face-angry"></i></p>
        
                      }
                      @if (UpdatePaswwordForm.get('newPassword')?.errors?.['pattern']) {
                        <p class="p-1 m-0 validation"> password must be at least 8 characters long and include at least one uppercase letter,
                            one lowercase letter, one number, and one special character ( !&#64;#$).
                             <i class="fa-solid fa-face-angry"></i> </p>
        
                      }
                      
                  </div>
        
              }
        
              </div>
            <div class="input-group">
       
                <input formControlName="confirmNewPassword" type="password" placeholder="Confirm New Password">
                      
                @if (UpdatePaswwordForm.get('confirmNewPassword')?.errors && UpdatePaswwordForm.get('confirmNewPassword')?.touched) {
        
                  <div class="  p-0 m-0">
                      @if (UpdatePaswwordForm.get('confirmNewPassword')?.errors?.['required']) {
                          <p class="p-1 m-0 validation"> Current Password is required <i class="fa-solid fa-face-angry"></i> </p>
        
                      }
                      @if (UpdatePaswwordForm.get('confirmNewPassword')?.errors?.['missmatch']) {
                          <p class="p-1 m-0 validation">  Confirm New Password not match with New password <i class="fa-solid fa-face-angry"></i>  </p>
        
                      }
                      
                  </div>
        
              }
        
              </div>

              <button [disabled]="UpdatePaswwordForm.invalid"  class="signup-btn fw-bold ">
                @if (spinner) {
                  <i class="fa fa-spin fa-spinner"></i>
                 
              }
              @else {
                  <span> Update  </span>
              }
              </button>
            </form>
        </div>

</div>

