<div class=" feedbackUser-Section mb-1">

     <h1 class="pt-2">
        User Reviews
     </h1>

     <div class="container shadow-lg rounded-3  mb-3 p-3 first-sec">
     <div class="row first-sec">
       <div class="col-md-6 pe-2 ">

        <div class="NumberOfReviw">
            
            <div class="d-flex align-items-center mb-4  ">
              <p class="fs-3 me-1 fw-bold mt-1"> 4.5</p>
              <div class="ms-2">
                <span class="d-block start-icon">
                    <i class="fa-solid fa-star">
                    </i><i class="fa-solid fa-star">
                    </i><i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </span>
                <p class="K-revie">10k Reviews </p>
                
              </div>
            </div>
            <div class="RatingLin pb-3 mt-3">

                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar"
                     style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar"
                     style="width: 60%;" aria-valuenow="3" aria-valuemin="60" aria-valuemax="100">60%</div>
                  </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar"
                     style="width: 40%;" aria-valuenow="3" aria-valuemin="40" aria-valuemax="100">40%</div>
                  </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar"
                     style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                  </div>
                
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                     style="width: 3%;" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100">0%</div>
                  </div>
                
            </div>



        </div>

       </div>

       <div class="col-md-6 write-w ps-4">
       <div class="writrFeed">
         
        <h3 class="fw-bold mb-4">
            Write your Feedback
        </h3>
        <p class="K-revie-2 fs-6">
            Welcome to our website. We hope you've enjoyed our site.
             You can view customer reviews and write your comments on everything you find on the site.
             You can contact us through the numbers on the website and we hope you visit us again.
        </p>

        <button routerLink="/home" class=" ps-4 pe-4 rounded-3 mt-2 pt-2 pb-2 fw-bold reviw-btn  ">
            Give Feedback
        </button>

       </div>
       </div>
     </div>
    
     </div>

</div>

<app-feedback-slider></app-feedback-slider>