<section id="home" class="text-center  d-flex align-items-center justify-content-center ">
    <div class="contain text-center text-white  rounded-3 p-4">
             <h5>First aid</h5>
            <h1 class="slide">Safety in your hands!</h1>
    </div>
</section>
<div class="videos-container  mt-4 gategorey-bg rounded-4  shadow-lg">
   
    <h2 class="video-section-title">Short First Aid Videos</h2>
   
    <div class="card" style="width: 18rem;">
        <iframe src="https://www.youtube.com/embed/ye3IJWHaVEo?autoplay=0" 
        title="CPR Video 1" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
        <div class="card-body">
          <p class="card-text">تعلم كيفية إجراء الإنعاش القلبي الرئوي (CPR) بشكل فعال في الحالات الطارئة. يوفر هذا الفيديو إرشادات واضحة خطوة بخطوة لمساعدتك على الاستجابة بسرعة وثقة أثناء حالات توقف القلب</p>
        </div>
      </div>
   
    <div class="card" style="width: 18rem;">
        <iframe src="https://www.youtube.com/embed/gynQdWDHbeI?autoplay=0"
            title="CPR Video 2" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="card-body">
          <p class="card-text">يقدم هذا الفيديو دليلاً شاملاً حول كيفية التعامل مع نوبات الصرع بطريقة آمنة وفعالة. ستتعلم الخطوات الأساسية لمساعدة الشخص المصاب، وتجنب الأخطاء الشائعة، وضمان سلامته حتى وصول المساعدة الطبية</p>
        </div>
      </div>
  

    <div class="card" style="width: 18rem;">
        <iframe src="https://www.youtube.com/embed/J32OUfi-l7g?autoplay=0 "
            title="CPR Video 3" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="card-body">
          <p class="card-text">يشرح هذا الفيديو كيفية التعامل مع حالات بلع اللسان وانسداد مجرى التنفس بطريقة صحيحة وآمنة. ستتعرف على الخطوات الفعالة لإنقاذ المصاب، ومنع الاختناق، وتقديم الإسعافات الأولية اللازمة حتى وصول المساعدة الطبية</p>
        </div>
      </div>
   
</div>