@if (spinner) {
    <div class="vh-100 d-flex justify-content-center align-items-center">
     <i class="fa fa-spin fa-spinner fw-bold text-primary fs-1"></i>
    </div>
}@else {
    
    <div class=" container doc-dettials shadow-lg rounded-3">
   
        <div class="row">
            
            <div class="col-md-6 p-4  d-flex justify-content-center">
            
            <div class=" w-75 ">
                <div class=" item-img rounded-3">
                    <img [src]="ViewDoctorDetails.imageUrl" class="doc-photo w-100 h-100 rounded-3 ms-4 mt-4" 
                    alt=" doctor photo ">
                </div>
            </div>
            
            </div>
            <div class="col-md-6  p-4 ">
              <div class="item-detls p-3">
                <h2 class="fw-bold mb-lg-4">
                   <span>Dr.</span> {{ViewDoctorDetails.fullName}}
                </h2>
                <p class="fs-5">
                    {{ViewDoctorDetails.description}} 
                </p>
                <hr>
                <p>
                    <span class="fw-bold">Clinic Location <i class="fa fa-map-marker"></i></span> <br>
                    {{ViewDoctorDetails.clinicAddress}} <br>
                    <i class="fa-solid fa-calendar-days"></i> {{ViewDoctorDetails.dailyDays}} <br>
                    <i class="fa-solid fa-clock"></i> {{ViewDoctorDetails.dailyTime}} PM <br>
                    <i class="fa-solid fa-money-bill-wave"></i> Fees 
                      : {{ViewDoctorDetails.bookingPrice}} EGP 
                </p>
                <p>
                    <span class="fw-bold"> Hospital he works in  </span> <br>
                       {{ViewDoctorDetails.hospitalName}} <br>
                       {{ViewDoctorDetails.hospitalAddress}}
                </p>
                <p>
                    
                       
                </p>
                <button class="btn btn-primary fw-bold "
                 routerLink="/BookNow">
                    <i class="fa-solid fa-right-long"></i> Book
                </button>
                
              </div>
            </div>
            
    
</div>

</div>
}
<div class="Feedback-bg">
  <div class="container mt-5">
    

    <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            
            <div class="carousel-item active">
                <div class="row justify-content-center">
                  <div class="col-md-3">
                    <div class="feedback-box py-5 my-5">
                        <i class="quote-icon fa-solid fa-quote-left"></i>
                        <p class="feedback-text"> دكتور محترم جدا و تعامله كان كويس معايا</p>
                        <div class="customer-name">Sara Ebrahim</div>
                        <span class="feedback-date">15/2/2025</span><br>
                        <span class="stars">★★★★★</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feedback-box py-5 my-5">
                        <i class="quote-icon fa-solid fa-quote-left"></i>
                        <p class="feedback-text"> مستمع جيد جدا وطريقته راقيه وممتازه </p>
                        <div class="customer-name">Mariem Ali</div>
                        <span class="feedback-date">10/2/2025</span><br>
                        <span class="stars">★★★★☆</span>
                    </div>
                </div>
                    <div class="col-md-3">
                        <div class="feedback-box py-5 my-5">
                            <i class="quote-icon fa-solid fa-quote-left"></i>
                            <p class="feedback-text"> دكتور كوبس جدا مشيت علي الي كتبهولي واتبسطت بالنتيجه </p>
                            <div class="customer-name">Mona Ahmed</div>
                            <span class="feedback-date">16/3/2025</span><br>
                            <span class="stars">★★★★★</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feedback-box py-5 my-5">
                            <i class="quote-icon fa-solid fa-quote-left"></i>
                            <p class="feedback-text"> شكرا للموقع انه وفر دكتور محترم كدا  </p>
                            <div class="customer-name">Zein Ahmed</div>
                            <span class="feedback-date">3/4/2025</span><br>
                            <span class="stars">★★★★☆</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
        
    </div>
</div>


