.doc-dettials{
    margin-top: 100px;

}
.item-img{
    border: 10px solid ;
    border-bottom: none;
    position: relative;
}
.item-detls button{
    border: #0D4F9B solid 2px;
   background-color: transparent !important;
   color: #0D4F9B;
   overflow: hidden;
   padding-right: 30px;
   transition: all .7s;

}
.item-detls span{
    color: #0D4F9B;
}
.item-detls button i {
    transform: translateX(-35px);
    transition: all .7s;
}
.item-detls button:hover i{
   transform: translateX(0px);
}
.item-detls button:hover {
   background-color: #0D4F9B !important;
   color: white !important;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.item-detls {
    opacity: 0;
    animation: fadeInRight 3s ease-out forwards;
}
@keyframes fadeInleftt {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.doc-photo {
    opacity: 0;
    animation: fadeInleftt 3s ease-out forwards;
}

