<div class="Feedback-bg">
    <div class="container ">
      <h2 class="section-title">Feedback for Dr/ Ahmed Sami</h2>
  
      <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              
              <div class="carousel-item active">
                  <div class="row justify-content-center">
                    <div class="col-md-3">
                      <div class="feedback-box py-5 my-5" >
                          <i class="quote-icon fa-solid fa-quote-left"></i>
                          <p class="feedback-text"> دكتور محترم جدا <br> وطريقته راقيه </p>
                          <div class="customer-name">Sara Ebrahim</div>
                          <span class="feedback-date">15/2/2025</span><br>
                          <span class="stars">★★★★★</span>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="feedback-box py-5 my-5">
                          <i class="quote-icon fa-solid fa-quote-left"></i>
                          <p class="feedback-text"> شكرا للموقع انه وفر لينا دكتور زي دكتور احمد سامي</p>
                          <div class="customer-name">Mariem Ali</div>
                          <span class="feedback-date">10/2/2025</span><br>
                          <span class="stars">★★★★☆</span>
                      </div>
                  </div>
                      <div class="col-md-3">
                          <div class="feedback-box py-5 my-5">
                              <i class="quote-icon fa-solid fa-quote-left"></i>
                              <p class="feedback-text"> مشيت علي العلاج الي الدكتور كان كتبه ليا وبقيت تمام الحمدلله </p>
                              <div class="customer-name">Mona Ahmed</div>
                              <span class="feedback-date">16/3/2025</span><br>
                              <span class="stars">★★★★★</span>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="feedback-box py-5 my-5">
                              <i class="quote-icon fa-solid fa-quote-left"></i>
                              <p class="feedback-text"> الدكتور تعامله معايا كان كوبس اوي وسناني ارتاحت </p>
                              <div class="customer-name">Zein Ahmed</div>
                              <span class="feedback-date">3/4/2025</span><br>
                              <span class="stars">★★★★☆</span>
                          </div>
                      </div>
                  </div>
              </div>
  
          </div>
          
      </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button> -->
      </div>
  </div>