



  .section-title h1{
    color: #0D4F9B;
}
.section-title p
{
  
text-align: center;
background-clip: text;
position: relative;
padding-bottom: 12px;
letter-spacing: 1.2px;
padding-top: 20px;
}

.section-title p::after {
    content: "";
        width: 80px;
        height: 4px;
        background: #0D4F9B;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        border-radius: 2px;
        animation: underline-animation 2s infinite alternate;
}

.vip{
    overflow: hidden;
}

.layer-2{
    top: 5px;
    right: 5px;
    left :5px;
    bottom: 5px;
    /* opacity: 0; */
    transform: scale(.5,.5);
    transition: 1s;
    height: 0px;
}

.card-cato{
    border-radius: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

.card-cato img{
    transition: .5s;
    border-radius: 0%;
}
.card-cato:hover img{
    transform:scale(1.2);
}

.layer-2 h3{
    color: #0D4F9B;
    opacity: 0;
}
.layer-bnt button{
    border: #0D4F9B solid 2px !important;
    color: #0D4F9B !important;
    background-color: transparent !important;
    font-weight: bold;
    transition: all .5s;
}
.layer-bnt button:hover {
 
    border: #0D4F9B solid 2px !important;
    color: #ffffff !important;
    background-color: #0D4F9B !important;
    font-weight: bold;

}
.card-cato:hover  .layer-2{
    opacity: .9 !important;
    transform:scale(1,1) !important;
    height: 100%;
    
}
.card-cato:hover  .layer-2 h3{
    opacity: 1 !important;
    
}
.view-color{
    color: #0D4F9B;
    background-color: transparent;
}
  
  @media (max-width: 700px) {
    .templet .items{
        padding: 0% !important;
        margin: 0% !important;
    }
    
  }
  .tit{
    transition: 1s;
  }
  .card-cato:hover .tit{
  opacity: 0;
  }
 