@if (spin) {

 <div class="vh-100 d-flex align-items-center justify-content-center">
       <i class="fa fa-solid fa-spinner fw-bold fs-3 text-primary"></i>
 </div>

}
@else {
  <div class="medicine-container fade-in" >
    @if (allmedicine) {
        
            <div class="medicine-card">
                <img [src]="allmedicine.image" [alt]='allmedicine.name'  class=" medicine-img">
                <div class="medicine-info">
                  <h2 class="medicine-title"> {{allmedicine.name}} </h2>
                  <p class="medicine-desc"> {{allmedicine.description}} </p>
                  <div class="prices">
                    <p><strong>Box Price:</strong> {{allmedicine.boxPrice}} EGP </p>
                    <p><strong>Strip Price:</strong> {{allmedicine.stripPrice}} EGP</p>
                  </div>
                  <a routerLink="/searchMedicine" class="back-btn">← Back to All Medicine</a>
                  <button class="btn btn-primary w-100 rounded-5 mt-5">
                     Add to cart
                  </button>
                </div>
              </div>
        }
    
    
    
  </div>
}

  