
<div class="container p-5">
    <div class="row">
        <div class="col-md-3 col-sm-6">
        <div class="d-flex DashCard" routerLink="/userData">
            <div>
                <div class="numbers">{{AllUserCome.length}}</div>
                <div class="cardName">Users</div>
            </div>
            <div class="iconBx">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="d-flex DashCard">
                <div>
                    <div class="numbers">{{AllPharmOrder?.length}}</div>
                    <div class="cardName">Sales</div>
                </div>
                <div class="iconBx">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="d-flex DashCard" routerLink="/docrequest">
                <div>
                    <div class="numbers">{{DocReqCom.length}}</div>
                    <div class="cardName">Doctor Request</div>
                </div>
                <div class="iconBx">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div routerLink="/adminFeed" class="d-flex DashCard">
                <div>
                    <div class="numbers">{{FeedbackData.length}}</div>
                    <div class="cardName">Feedbacks</div>
                </div>
                <div class="iconBx">
                    <i class="fa-solid fa-comment"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="d-flex DashCard">
              <div>
                  <div class="numbers">842</div>
                  <div class="cardName">Booking Doctor</div>
              </div>
              <div class="iconBx">
                  <i class="fa-solid fa-file-archive"></i>
              </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="d-flex DashCard">
                <div>
                    <div class="numbers">{{AllEmerg?.length}}</div>
                    <div class="cardName">Emergency Request</div>
                </div>
                <div class="iconBx">
                    <i class="fa-solid fa-truck-medical"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="d-flex DashCard">
                <div>
                    <div class="numbers">284</div>
                    <div class="cardName">Medical team request</div>
                </div>
                <div class="iconBx">
                    <i class="fa-solid fa-user-nurse"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="d-flex DashCard">
                <div>
                    <div class="numbers">3</div>
                    <div class="cardName">Updates</div>
                </div>
                <div class="iconBx">
                    <i class="fa-solid fa-upload"></i>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="container ps-5 pe-5">
    <div class="row">

        <div class="col-12 col-md-8">
        <div class="div-table shadow-lg p-3 mb-5 bg-white rounded">
          <div class="Titlation mb-3">
            <h5 class="fw-bold">Customer Booking</h5>
          </div>
  
          <!-- Responsive Table Wrapper -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle">
              <thead class="table-light">
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Doctor Name</th>
                  <th>Fees</th>
                </tr>
              </thead>
              <tbody>
                <!-- Example Row (repeat as needed) -->
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <tr>
                  <td><i class="fa-solid fa-file-alt"></i></td>
                  <td>Star Refrigerator</td>
                  <td>Ahmed Sami</td>
                  <td class="text-success fw-semibold">500 EGP</td>
                </tr>
                <!-- Repeat rows -->
                <!-- ... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>

        <div class="col-md-4">
            <div class="div-table shadow-lg">
                <div class="Titlation mb-3">
                    <h5 class="fw-bold">
                       Our Doctors
                    </h5>
                   </div>
                   <hr>
                   @if (Doctordata) {
                    @for (Doctor of Doctordata.slice(0,10); track $index) {
                        <div class="d-flex div-table-2 p-1  rounded-2"> 
                            <img class="imgDoc" [src]="Doctor.imageUrl" alt="">
                            <div class="name ms-lg-2">
                                <p class="p-0 m-0 fw-bold">
                                  {{Doctor.fullName}}
                                </p>
                                <p class="spiz">
                                  {{Doctor.specialty}}
                                </p>
                            </div>
                         </div>
                       } 
                   }
                  
                   
                   
                
            </div>
        </div>
        
    </div>
    </div>

    
