<section class="p-5  d-flex justify-content-center align-content-center">
    
            <div class=" w-75  p-0 m-0  d-flex shadow-lg rounded-3 ">
              

    <img src="../../../../assets/imege/a0d461d5-0b57-4b21-8ab2-6a3237ac6fe6.jfif" alt="" width="50% " height="100%" class="signimg rounded-3">


      <div class="container backgroun-c w-50 text-white justify-content-center align-content-center  rounded-3 p-4 m-0">
 
  
   <div class="p-3 text-center text-black mb-3 ">
<h1 class="signUp-Btn rounded-3 r"> Sign up </h1>
   </div>
   
  
    <form >
      
<div class="form-floating mb-3">
    <input type="text" class="form-control bg-white border-0 rounded-0  border-bottom border-1 border-black" id="floatingInput" placeholder="">
    <label for="floatingInput" class="text-black">Name</label>
  </div>
<div class="form-floating mb-3">
    <input type="email" class="form-control bg-white border-0 rounded-0  border-bottom border-1 border-black" id="floatingInput" placeholder="">
    <label for="floatingInput" class="text-black">Email</label>
  </div>
<div class="form-floating mb-3">
    <input type="password" class="form-control bg-white border-0 rounded-0  border-bottom border-1 border-black" id="floatingInput" placeholder="">
    <label for="floatingInput" class="text-black">Password</label>
  </div>
<div class="form-floating mb-3">
    <input type="password" class="form-control bg-white border-0 rounded-0  border-bottom border-1 border-black" id="floatingInput" placeholder="">
    <label for="floatingInput" class="text-black">Password Confirm</label>
  </div>
<div class="form-floating mb-3">
    <input type="tel" class="form-control bg-white border-0 rounded-0  border-bottom border-1 border-black" id="floatingInput" placeholder="">
    <label for="floatingInput" class="text-black">Phone</label>
  </div>


    
  <button type="submit" class="btn btn-primary w-100 mt-3">
    Sign Up
  </button>
  <hr>
  <p class="text-center text-black">
    Already have an account? <span class="span-log"
    routerLink="/login"
    >log in</span>
  </p>
  
  
           </form>
                    </div>
    

                </div>

             

              
            
      
    
   
</section>