
<div class="signup-container mt-5">
  <div class="signup-card">
    <h2 class="title">Sign up</h2>
    <p class="subtitle">Join the community today!</p>

    <button class="google-signup">
      <img src="../../../../assets/imege/google logo.jpg" alt="Google Logo" />
      Use Google account
    </button>

    <div class="divider">or</div>

    <form>
      <div class="input-group">
      
        <input type="text" placeholder="Enter your name" />
      </div>

      <div class="input-group">
      
        <input type="email" placeholder="Enter your email" />
      </div>

      <div class="input-group">
      
        <input type="password" placeholder="Enter your password" />
      </div>

      <div class="input-group">
       
        <input type="password" placeholder="Confirm Password">

      </div>

      <div class="input-group">
        
        <input type="text" placeholder="Enter your Phone">

      </div>
      <button class="signup-btn">Sign up</button>
    </form>

    <p class="login-text text-dark-emphasis">
      Already have an account ?  <a routerLink="/login">Log in</a>
    </p>
  </div>
</div>
  