
.backgroun-c{
    background-color: white;

    color: black;
   
}
.icon-sign{
    color:oklch(.373 .034 259.733) ;
    background-color: aliceblue;
    padding:16px;
    font-size: 35px;
}
.btn-primary{

    background-image: linear-gradient(150.81deg, #007864 -29.74%, #0d4f9b 62.28%) !important;
}
.span-log{

    color: #4386d3;
    cursor: pointer;
}

.w-75{
    width: 85% !important;
}



 .signUp-Btn{
    color: #0d4f9b!important;
 }
  

/* .bg-photSign{
    background-image: url(../../../../assets/imege/aa1a819d-327b-4436-bed7-4675d7c65ef8.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
} */

/* .w-50{
    width:40% !important;
} */

  /*      media        */


/* شاشات متوسطة (تابلت) */
@media (max-width: 876px) {
    .container {
        width: 92% !important;
    }
    .w-75{
        width: 92% !important;
    }
}

/* شاشات صغيرة (موبايل) */
@media (max-width: 576px) {
    .container {
        width: 100% !important;
        padding: 20px !important;
    }
    .w-75{
        width: 100% !important;
        padding: 0;
        margin: 0;
    }
    .d-flex {
        display: block !important;
        
    }
    .bg-photSign{
        padding: 0%;
        margin: 0%;
    }
    .signimg{
        width: 100%;
        height: 100%;
        margin: 0%;
        
    }

    h1 {
        font-size: 1.5rem;
    }
}

