
#home{
    
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                          url(../../../assets/imege/dream\ doctor.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh; /* يضمن تغطية الصفحة دون مشاكل */
        width: 100%;
        position: relative;
}

.savior-doctor{

    color: #0d4f9b;
}
.contain{
    position: absolute;
    bottom: 8%;
}

.btn-savior{
    border: #0d4f9b solid 1px;
    transition: all 1s;
    
}
.btn-savior:hover{
    background-color: #ffffff !important;
    border: #ffffff solid 1px;
    color: #0d4f9b !important;

}
.book-btn:hover{

    background-color: #0d4f9b !important;
    border: #0d4f9b solid 1px;
    color: #ffffff !important;


}
@media (max-width: 768px) {
    #home {
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
        url(../../../assets/imege/phone\ doc.jpg);
        background-size: cover;
         background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh; /* يضمن تغطية الصفحة دون مشاكل */
         width: 100%;
         position: relative;
    }
    .contain{
      position: absolute;
      bottom: 3%;
      
  }
}

/* ----------------- */

.section-title h1{
    color: #0D4F9B;
}
.section-title p
{
  
text-align: center;
background-clip: text;
position: relative;
padding-bottom: 12px;
letter-spacing: 1.2px;
padding-top: 20px;
}

.section-title p::after {
    content: "";
        width: 80px;
        height: 4px;
        background: #0D4F9B;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        border-radius: 2px;
        animation: underline-animation 2s infinite alternate;
}

.vip{
    overflow: hidden;
}

.items-me-2 .layer-2{
    top: 5px;
    right: 5px;
    left :5px;
    bottom: 5px;
    opacity: 0;
    transform:rotatey(180deg) scale(.5,.5);
    transition: .5s;
}

.card-cato{
    border-radius: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card-cato:hover .layer-2{
    opacity: .9;
    transform:scale(1,1);
    
}
.card-cato img{
    transition: .5s;
    border-radius: 0%;
}
.card-cato:hover img{
    transform:scale(1.2);
}

.layer-2 h3{
    color: #0D4F9B;
}
.layer-2 button{
    border: #0D4F9B solid 2px !important;
    color: #0D4F9B !important;
    background-color: transparent !important;
    font-weight: bold;
    transition: all .5s;
}
.layer-2 button:hover {
 
    border: #0D4F9B solid 2px !important;
    color: #ffffff !important;
    background-color: #0D4F9B !important;
    font-weight: bold;

}
.view-color{
    color: #0D4F9B;
    background-color: transparent;
}


/* ----------------- */


.testimonel-area {
    overflow: hidden;
    padding: 40px 0;
    margin-top: 15px;
    
  }
  .testimonel-item {
    background: transparent none repeat scroll 0 0;
    border-radius: 5px;
    overflow: hidden;
    padding: 40px;
    position: relative;
  }
  .testimonel-item:after {
    border-color: #0D4F9B rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    -o-border-image: none;
            border-image: none;
    border-style: solid;
    border-width: 191px;
    content: "";
    height: 72px;
    left: -199px;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(0%);
        transform: translateX(0%);
    width: 77px;
    z-index: 1;
  }
  .testimonel-cont {
    padding-left: 130px;
  }
  .testimonel-cont a {
    color: #777777;
    font-size: 15px;
  }
  .testimonel-img {
    border-radius: 50%;
    float: left;
    margin: 12px auto;
    overflow: hidden;
    position: relative;
    width: 110px;
    z-index: 2;
  }
  .testimonel-item h3 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .review-reating {
    color: #f1c30d;
    margin-bottom: 12px;
  }
  .testimonel-cont > p {
    font-size: 16px;
    font-style: italic;
  }
  .testimonel-carousel .owl-dots {
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .testimonel-carousel .owl-dot {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #0d4f9b;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 3px;
    width: 10px;
  }
  .testimonel-carousel .owl-dot.active {
    background: #0d4f9b none repeat scroll 0 0;
    border-radius: 10px;
    padding: 4px 12px;
  }
  .card-btn{
    transform: translateY(50%);
  }
  .card-btn .btn-primary{
    background-color: #0D4F9B;
  }
  .card-btn .btn-primary:hover{
    background-color: transparent;
    border: #0D4F9B 2px solid;
    color: #0D4F9B;
  }
  .doc-tittle h2{
    
    position: relative;
    padding: 10px;
  }
 
  #testimonial h2::before{
    content: "";
    width: 200px;
    height: 3px;
    background: #0D4F9B;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 2px;
    animation: underline-animation 2s infinite alternate;
    
  }
  #testimonial h2::after{
    content: "";
    width: 90px;
    height: 3px;
    background: #0D4F9B;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 2px;
    animation: underline-animation 2s infinite alternate;
    top: 110%;
    
  }
  /* --- */

 


