<!-- start background section -->

<section id="home" class="text-center  d-flex align-items-center justify-content-center ">
    <div class="contain text-center text-white shadow-sm  rounded-3 p-4">
        <h1 class=" savior-doctor fw-bold fs-1 p-2">
            Savior
        </h1>
       <p class="p-1 fs-3 fw-light">
         offers the best  <span class="savior-doctor fw-bolder">doctors</span>  in Egypt <br>
          based on customer reviews
       </p>

      
       <button class="bg-transparent text-white p-2 ps-4 pe-4 btn-savior rounded-3 me-1 fw-bold mt-1 book-btn">
        Book Now
       </button>
       <button class="bg-transparent text-white  p-2 ps-3 pe-3 btn-savior rounded-3 ms-1  fw-bold mt-1">
        Search Now
       </button>

    </div>


</section>

<!-- End background section -->

<!-- Start doctor Categorey  -- = Doctor's departments -->

<div class="container p-5 mt-5 gategorey-bg rounded-3  shadow-lg">
  <div class="pb-4   text-center section-title">
    <h1 >
      Doctor's departments
    </h1>
    <p>
      We provide you with doctors in all departments
    </p>
  </div>
  <div class="row">

    @for (item of items; track $index) {
      @if (showAll || $index < 4) {

        <div class=" show-cato  col-md-3 p-3  rounded-3 ">


          <div class="card-cato shadow-lg">
          <div class="items-me-2 position-relative">
            <div class="vip">
                <img [src]="item.image" class="card-img-top rounded-3" alt="doctor Categorey">
            </div>
            <div
                class="layer-2 rounded-3 bg-white carousel  position-absolute  d-flex justify-content-center align-items-center ">
                <div class="mt-5 pt-5 text-center">
                           <h3 class="p-2">
                            {{item.title}}
                           </h3>  
                           <button class=" btn btn-primary ps-3 pe-3">
                                 See Doctor
                           </button>   
                </div>
                </div>
            </div>
        </div>
    
    
        </div>
  

      }
     
    }

    
    <div class="text-center pt-4">
      <button class="border-0 view-color" (click)="toggleViewMoreAndLess()">
        <i class="fa-solid fa-arrow-right-long"></i>  {{ showAll ? 'View Less' : 'View More' }}
      </button>
    </div>
   
  </div>
</div>

<!-- End doctor Categorey  -->

<!-- start top ratings -->

<section class="testimonel-area " id="testimonial" >
  
  <div class="container ">
    <div class="mb-5 text-center doc-tittle">
      <h2>
        Top Rating
      </h2>
    </div>
      <div class="row">
          <div class="">
                 
              <div class="testimonel-carousel owl-carousel d-flex justify-content-center">
                  
                  <!-- testimonel-item start -->
                  <div class="col-sm-12 col-md-8 col-md-offset-2 col-sm-12 shadow-lg rounded-3">
                      <div class="testimonel-item">
                          <div class="testimonel-img">
                              <img class="w-100 h-100" src="../../../assets/imege/doctor Photo.jpg" alt="" >
                          </div>
                          <div class="testimonel-cont">
                              <h3>Ahmed Sami</h3>
                              <h4><a><i class="fa fa-map-marker"></i> 10th of ramadan </a></h4>
                              <p>One of the best dentists offered by Savior in 10th of Ramadan.</p>
                              <p> sat , tuse , thurs </p>
                              <p> 12 : 8 pm </p>
                              <div class="review-reating">
                                 <p>4.8 <i class="fa fa-star"></i>  </p> 
                                  
                              </div>
                          </div>
                      </div >
                      <div class="text-center card-btn">
                        <button class="btn btn-primary fw-bold">
                          Book Now 
                        </button>
                      </div>
                  </div>
                  <!-- testimonel-item end -->
              </div>
          </div>
      </div><!--/.row-->
  </div><!--/.container-->
</section>

<!-- End top ratings -->


