<!-- start background section -->

<section id="home" class="text-center  d-flex align-items-center justify-content-center ">
    <div class="contain text-center text-white shadow-sm  rounded-3 p-4">
        <h1 class=" savior-doctor fw-bold fs-1 p-2">
            Savior
        </h1>
       <p class="p-1 fs-3 fw-light">
         offers the best  <span class="savior-doctor fw-bolder">doctors</span>  in Egypt <br>
          based on customer reviews
       </p>

      
       <button class="bg-transparent text-white p-2 ps-4 pe-4 btn-savior rounded-3 me-1 fw-bold mt-1 book-btn">
        Book Now
       </button>
       <button class="bg-transparent text-white  p-2 ps-3 pe-3 btn-savior rounded-3 ms-1  fw-bold mt-1">
        Search Now
       </button>

    </div>


</section>

<!-- End background section -->

<!-- start top ratings -->

<div class="container  mt-5 text-center " id="ratings">
   
    <div class="row ">
        <div class="col-md-4  p-1 d-flex justify-content-center align-items-center p-4">
            <div class="card h-100 p-3 shadow-sm"style="width: 90%;">
                
                <img src="../../../assets/imege/Free Photo _ Doctor holding something over white background.jfif" class="card-img-top h-100" alt="doctor" >

                   
                    <div class="card-body">
                  <div class="d-flex  justify-content-around">
                    <h5 class="card-title fw-bold ">D/ Ahmed Sami</h5>
                     <p class="fw-bold p-rate">
                        4.8 <i class="fa-solid fa-star"></i>
                     </p>
                  </div>
                  <p class="card-text fw-medium">He is considered one of the best dentists in Egypt, according to customer reviews</p>
                  <button class="w-100  text-white p-2 ps-4 pe-4 btn-savior-card rounded-3 me-1 fw-bold mt-1 ">
                    Book Now
                   </button>
                </div>
              </div>
        </div>     
        <div class="col-md-4  p-1 d-flex justify-content-center align-items-center p-4">
            <div class="card h-100 p-3 shadow-sm"style="width: 90%;">
                <img src="../../../assets/imege/Ace The Internal Medicine Exam.jfif" class="card-img-top " alt="doctor">

                               <div class="card-body">
                  <div class="d-flex  justify-content-around">
                    <h5 class="card-title fw-bold ">D/ Zein Ahmed</h5>
                     <p class="fw-bold p-rate">
                        5 <i class="fa-solid fa-star"></i>
                     </p>
                  </div>
                  <p class="card-text fw-medium">He is considered one of the best cardiologist in Egypt according to customer reviews</p>
                  <button class="w-100  text-white p-2 ps-4 pe-4 btn-savior-card rounded-3 me-1 fw-bold mt-1 ">
                    Book Now
                   </button>
                </div>
              </div>
        </div>     
        <div class="col-md-4  p-1 d-flex justify-content-center align-items-center p-4">
            <div class="card h-100 p-3 shadow-sm"style="width: 90%;">
                
                    <img src="../../../assets/imege/download (1).jfif" class="card-img-top" alt="doctor">
                
                <div class="card-body">
                  <div class="d-flex  justify-content-around">
                    <h5 class="card-title fw-bold ">D/ Nour Abdelaty</h5>
                     <p class="fw-bold p-rate">
                        4.9 <i class="fa-solid fa-star"></i>
                     </p>
                  </div>
                  <p class="card-text fw-medium">She is considered one of the best gynecologists in Egypt,according to customer reviews</p>
                  <button class="w-100  text-white p-2 ps-4 pe-4 btn-savior-card rounded-3 me-1 fw-bold mt-1 ">
                    Book Now
                   </button>
                </div>
              </div>
        </div>     

    </div>

</div>

<!-- End top ratings -->


