<section id="home" class="text-center  d-flex align-items-center justify-content-center ">
    <div class="contain text-center text-white shadow-sm  rounded-3 p-4">
        <h1 class=" savior-doctor fw-bold fs-1 p-2">
            Savior
        </h1>
       <p class="p-1 fs-3 fw-light">
         offers the best  <span class="savior-doctor fw-bolder">doctors</span>  in Egypt <br>
          based on customer reviews
       </p>

      
       <button class="bg-transparent text-white p-2 ps-4 pe-4 btn-savior rounded-3 me-1 fw-bold mt-1 book-btn">
        Book Now
       </button>
       <button class="bg-transparent text-white  p-2 ps-3 pe-3 btn-savior rounded-3 ms-1  fw-bold mt-1">
        Search Now
       </button>

    </div>




</section>