
@if (spinner ) {
    <div class="d-flex justify-content-center align-items-center vh-100">
       <i class="fa fa-spin fa-spinner text-primary fw-bold fs-1"></i>
    </div>
}@else {
    <section class="testimonel-area " id="testimonial" >
  
        <div class="container ">
      
            <div class="row">
                <div class="">
                    <div class="form-floating mb-5   d-flex justify-content-center align-items-center ">
                        <input [(ngModel)]="userWord" type="email" 
                        class="bg-transparent form-control w-75 shadow-none" id="floatingInput"
                         placeholder="name@example.com"> 
                        <label for="floatingInput"> 
                        <i class="fa-solid fa-magnifying-glass"></i> Search by Doctor name...</label>
                    
                        <i class="fa-solid fa-book me-5 fs-1  ms-auto serch-shoping cuesor-pointer" 
                        routerLink="/reserv"></i>
                    </div> 
                       
                    <div class="testimonel-carousel   justify-content-start">
                        
                        <!-- testimonel-item start -->
                         @for (item of doctorsData | gatogeorurSearchPipe : userWord; track $index) {
                            <div class="col-sm-12 col-md-9 mb-4 col-md-offset-2 col-sm-12 shadow-lg rounded-3 cuesor-pointer" 
                                >
                            <div class="testimonel-item"  [routerLink]="['/DoctorFeedback' ,item.doctorID]">
                                <div class="testimonel-img">
                                    <img class="w-100 h-100" [src]="item.imageUrl" alt="doctor Photo" >
                                </div>
                                <div class="testimonel-cont">
                                    <h3>DR. {{item.fullName}}</h3>
                                    <h4><a><i class="fa fa-map-marker"></i> {{item.city}} </a></h4>
                                    <p class="fw-bold">{{item.specialty}}</p>
                                    <p>{{item.description.split(' ').slice(0, 12).join(' ')}}</p>
                                    <p> {{item.dailyDays}} </p>
                                    <p> {{item.dailyTime}} PM</p>
                                    <div class="review-reating d-flex ">
                                       <p> {{item.rating}} <i class="fa fa-star"></i> </p> 
                                    </div>
                                </div>
                            </div >
                            <div class="text-center card-btn">
                              <button class="btn btn-primary fw-bold"
                                routerLink="/BookNow">
                                Book Now 
                              </button>
                            </div>
                        </div>
                         }
                        
                        
                        
                        <!-- testimonel-item end -->
                    </div>
                </div>
            </div><!--/.row-->
      
      
        </div><!--/.container-->
      </section>
}

