<!-- start Background -->
<section class="about min-vh-100 mb-5" id="about">
  <div class="image-slide image1"></div>
  <div class="image-slide image2"></div>
  <div class="image-slide image3"></div>

  <div class="container">
      <div class="row justify-content-center vh-100 align-items-center text-white">
          <div class="col-md-6 text-center">
              <h5>SAVIOR</h5>
              <h1 class="slide">Your savior at all times</h1>
              
          </div>
      </div>
  </div>
</section>
  <!-- end Background -->
  <!-- ============================================================================================= -->

   <!-- start about savior-->
   
   <section id="about">
    <div class="container  ">
      <div class=" shadow-lg px-4 py-4 mt-5 bg-body-light rounded">
        <div class="row d-flex align-items-center justify-content-center">
          
          <!-- صورة -->
          <div class="col-12 col-lg-6 text-center mb-4 mb-lg-0">
            <div class="about-img">
              <img src="../../../assets/imege/portrait-fout-doctors-talking-white-uniform.jpg" class="img-fluid w-100 rounded" alt="Savior" style="max-height: 400px; object-fit: cover;">
            </div>
          </div>
  
          <!-- نص -->
          <div class="col-12 col-lg-6">
            <h3 class=" title fw-semibold fs-2  text-center text-lg-start" style="position: relative; top: -10px about-me-title">About Savior</h3> 
            <p class="fw-lighter fs-5 text-center text-lg-start">
              <span class="fw-bold">Website</span>  for people who get tired, for example, in the middle of the night and there is no open pharmacy nearby,
               or cannot find medicine in a pharmacy, or do not know the hospital number, clinic number, or doctor’s number. <br> I will let
               him contact a doctor, pharmacy or hospital if the pharmacy has Delivery, he will get him what he needs, and if there is none, I will save him the numbers for Delivery, 
               Instead of going out to look for a taxi or any way to get to the hospital or pharmacy , The site will also have a first aid page that can be used until medicine, a doctor, or an emergency vehicle arrives, 
               The locations of the nearest pharmacy and the nearest hospital will also be available for service, and whether the hospital has empty places or not.
            </p>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- end about savior -->