
<section class="d-flex justify-content-center align-items-center ">
    <!-- <form > -->

        <div class="form-container ">
            <h2>Change Data</h2>
            <div class="input-box">
                <input type="text"  placeholder="Name">
            </div>
            <div class="input-box">
                <input type="email"  placeholder="email">
            </div>
            <div class="input-box">
                <input type="tel"  placeholder="Phone">
            </div>
            <button class="">update</button>
        </div>

    <!-- </form> -->
</section>
