<div class="container mx-auto  mt-5 ">
    <i class="fa-solid fa-chevron-right next" (click)="goNext()"></i>
    <i class="fa-solid fa-chevron-left prev" (click)="goPrev()"></i>
    <div class="row p-0 m-0">

        <div class="col-md-12 m-0  p-3 ">
            <div class="text-center p-2 mb-2">
                <p class="text-primary fw-bold">_ look _ </p>
                <h3>
                    Our Pharmacies
                </h3>
            </div>
            <div>
                <owl-carousel-o [options]="customOptions" class="m-0 " #owlCarousel>
                   
                    
                   
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/f6c522984f074bb34c4dbfa6b4d74c76.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/a44395e625d17a60908e23cf4ce8fdb6.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/8c9bfb94d3a8306e3206a068d563295f.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/3ff4176f98652ba281218983c78ea39e.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/704545d740dd64246d538e3f13ecdf5c.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/914a8f592685309b48c9881cee77d43a.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/77425f28ad7dc3f5df402f258bef71d5.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/3e078f3e8619f198dfe72c7d4398b108.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/4f3f8a1d264ef137097e8702d8972bdb.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    <ng-template carouselSlide class="templet">

                        <div class=" w-100  ">
                           <div class="rounded-3 items  shadow-sm">
                              <img src="../../../assets/imege/99f2446b6500dd7d9bf2215b322ce3f7.jpg" alt=""
                               class="w-100 rounded-3 h-75"> 
                                  
                           </div>
                        </div>

                    </ng-template> 
                    
                    
                  </owl-carousel-o>
            </div>
            
        </div>
        

    </div>

</div>
