<div class="container mx-auto  mt-5 ">
    <i class="fa-solid fa-chevron-right next" (click)="goNext()"></i>
    <i class="fa-solid fa-chevron-left prev" (click)="goPrev()"></i>
    <div class="row p-0 m-0">

        <div class="col-md-12 m-0  p-3 ">
            
            <div>
                <owl-carousel-o [options]="customOptions" class="m-0 " #owlCarousel>

                    @for (item of doctorsData ; track $index) {
                    <ng-template carouselSlide class="templet">

                        <section class="testimonel-area " id="testimonial" >
  
                            <div class="container ">
                          
                                <div class="row">
                                    <div class="">
                                        
                                           
                                        <div class="testimonel-carousel d-flex  justify-content-center">
                                            
                                            <!-- testimonel-item start -->
                                             
                                                <div class="col-sm-12 col-md-9 mb-4 col-md-offset-2 col-sm-12 shadow-lg rounded-3 cuesor-pointer" 
                                                    >
                                                <div class="testimonel-item"  [routerLink]="['/DoctorFeedback' ,item.doctorID]">
                                                    <div class="testimonel-img">
                                                        <img class="w-100 h-100" [src]="item.imageUrl" alt="doctor Photo" >
                                                    </div>
                                                    <div class="testimonel-cont">
                                                        <h3>DR. {{item.fullName}}</h3>
                                                        <h4><a><i class="fa fa-map-marker"></i> {{item.city}} </a></h4>
                                                        <p class="fw-bold">{{item.specialty}}</p>
                                                        <p>{{item.description.split(' ').slice(0, 12).join(' ')}}</p>
                                                        <p> {{item.dailyDays}} </p>
                                                        <p> {{item.dailyTime}} PM</p>
                                                        <div class="review-reating d-flex ">
                                                           <p> {{item.rating}}<i class="fa fa-star"></i> </p> 
                                                        </div>
                                                    </div>
                                                </div >
                                                
                                            </div>
                                            
                                            
                                            
                                            
                                            <!-- testimonel-item end -->
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                
                                
                          
                            </div><!--/.container-->
                          </section>

                    </ng-template> 
                }
 
                  </owl-carousel-o>
            </div>
            
        </div>
        

    </div>

</div>
