#home{
    
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
                      url(../../../assets/imege/Free\ Photo\ _\ Front\ view\ doctor\ putting\ on\ glove.jfif);
    background-size:  cover ;
  
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
   width: 100% !important;
    position: relative;
}

.savior-doctor{

color: #0d4f9b;
}
.contain{
position: absolute;
bottom: 30%;
right: 10%;
}
.btn-savior{
    border: white 2px solid;
    transition: all .7s;
}
.btn-savior:hover{
    border: #0d4f9b solid 2px ;
    color: #0d4f9b !important;
}


@media (max-width: 768px) {
#home {
    /* background-size: contain; يضمن عرض الخلفية بالكامل بدون قص */
    background-position: center center; /* يحافظ على تموضع الخلفية */
    background-size: cover;
}
}
/* --------------- */
.container-AddDoctor{
    border: #0d4f9b 10px solid;
    border-right:none ;
    border-top: none  ;
}
.container-AddDoctor h1{
    font-family: serif;
    color: #0d4f9b;
}
.container-AddDoctor ح{
    font-family: serif;
}
.modern-button {
    background: linear-gradient(135deg, #0d4f9b, #0d4f9b);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .modern-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.07);
  }
  .modern-button:active {
    transform: scale(0.98);
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .container-AddDoctor {
    animation: fadeInUp 3s ease-out;
    transition: all 1s;
    overflow-y: hidden;
  }
  .container-AddDoctor:hover{
    transform: scale(1.03);
  }

  /* ------------------ */
  .container-fluid{
    background-image:linear-gradient(rgba(255, 255, 255, 0.701),rgb(123, 176, 237))
    , url(../../../assets/imege/check.jpg);
        background-size: cover ;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
  }
  .container-fluid .row .p-ser{
     color: #0c3768;
     font-weight: bold;
     font-size: 14px;
        
  }
  .container-fluid .row .h1-ser{
     color: #00397a;
     font-weight: bold;
        
  }
  .dev-item{
    border: #00397a solid 2px;
  }
  .icon-des{
    color: #00397a;
  }
  .dev-item p {
    font-size: 14px;
  }
  
  .dev-item button{
    background-color: #0c3768;
    font-weight:bold ;
  }
  .dev-item button span{
    background-color: #0c3768;
    font-weight:bold ;
    font-size: 17px;
  }
  @media (max-width: 700px) {
    .container-fluid .row {
      width: 100% !important;
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
  
  
  