#home{
    
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),
                      url(../../../assets/imege/lap.jpg);
    background-size:  cover ;
  
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
   width: 100% !important;
    position: relative;
    background-attachment: fixed;
}

.savior-doctor{

color: #0d4f9b;
}
.contain{
position: absolute;
bottom: 30%;
right: 10%;
}
.btn-savior{
    border: white 2px solid;
    transition: all .7s;
}
.btn-savior:hover{
    border: #0d4f9b solid 2px ;
    color: #0d4f9b !important;
}
.btn-savior:hover a{
    
    color: #0d4f9b !important;
}
.btn-savior a{
    
   transition: all .7s;
}


@media (max-width: 768px) {
#home {

  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
  url(../../../assets/imege/Free\ Photo\ _\ Front\ view\ doctor\ putting\ on\ glove.jfif);
background-size:  cover ;

background-position: center center;
background-repeat: no-repeat;
height: 100vh;
width: 100% !important;
position: relative;
background-attachment: local !important;

   
}
}

  .servies-section{
    background-image:linear-gradient(rgba(255, 255, 255, 0.308),rgb(123, 176, 237))
    , url(../../../assets/imege/0be620b4ce2962f994634032b4a84cd4.jpg);
        background-size: cover ;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
  }
  .container-fluid .row .p-ser{
     color: #0c3768;
     font-weight: bold;
     font-size: 14px;
        
  }
  .container-fluid .row .h1-ser{
     color: #00397a;
     font-weight: bold;
        
  }
  .dev-item{
    border: #00397a solid 2px;
    transition: all .8s;
    opacity: 0;
    animation: fadeInleft 3s ease-out forwards;

  }
  
  .icon-des{
    color: #00397a;
    transition: all .8s;
  }
  .dev-item p {
    font-size: 14px;
  }
  
  .dev-item button{
    background-color: #0c3768;
    font-weight:bold ;
    transition: all .8s;
  }
  .dev-item button span{
    
    font-weight:bold ;
    font-size: 17px;
    transition: all .8s;
  }
  .dev-item:hover{
    transform: scale(1.05) translateX(20px) !important;
    
    background-color: #00397a !important;
  }
  .dev-item:hover button {
   background-color: white !important;
  }
  .dev-item:hover button span {
   color: #00397a !important;
  }
  .dev-item:hover .icon-des{
    color: white !important;
  }
  .dev-item button:hover{
   transform: scale(1.03);
   transform: translateY(-10px);
  }

  
   
 @keyframes fadeInleft {
    0% {
        opacity: 0;
        transform: translatey(100px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

  @media (max-width: 780px) {
    .servies-section .row {
      width: 100% !important;
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
    .servies-section{
      background-attachment: local;
      
    }
  
  }



  /* ------------------------ */

.ContactUs h1{
  color: #0d4f9b;
}
.ContactUs .p-tittle{
  color: #707376;
}
.item-icon{
  padding: 20px;
  font-size: 40px;
  background-color: #eeebeb;
  color: #0d4f9b;
  font-weight: bold;
  border-radius:100% ;
  transition: all 1s;
}
.items:hover i {
  transform: rotate(360deg);
}

.item-p{
  color: #0d4f9b;
}
.pp-1{
  padding: 1px !important;
  color: #707376;
  font-weight: bold;
}
.pp-2{
  color: #707376;
  font-weight: bold;
}
.ContactUs .contact-icon{
  padding-left: 12%;
  padding-right: 12%;
}

@media (max-width:780px ){
  .ContactUs .contact-icon{
    padding-left: 1%;
    padding-right: 1%;
  }
} 
.ContactUs .contact-massage{
  padding-left: 7%;
  padding-right: 7%;
}
.contact-massage .p-contact{
  color: #0d4f9b;
  opacity: .4;
}
.contact-massage h3{
  color: #0d4f9b;
  
}
.input-bg{
  background-color: #eeebeb !important;
}
.massage-btn button{
  background-color: #0d4f9b !important;
  color: white !important;
  font-size: 20px;
  padding: 2%;
  transition: all .5s;
  font-weight: bold;

}
.massage-btn button:hover{
  background-color: transparent !important;
  color: #0d4f9b !important;
  border: #0d4f9b 2px solid;
  transform: translateY(10px) scale(1.02);

}
.img-massage{
  border: #0d4f9b 10px solid !important;
  border-left: none !important;
  border-bottom: none !important;
   
}
@media (max-width : 780px) {
  .mass-photo{
    display: none;
  }
  .ContactUs .contact-massage{
    padding-left: 0%;
    padding-right: 0%;
  }
}
.SeeFeedbak{
  color: #0d4f9b;
  transition: all 1s;
}
.SeeFeedbak:hover{
  transform: translateX(40px) scale(1.1) !important;
}

 

  
  
  