<!-- 
<section id="home" class="text-center  d-flex align-items-center justify-content-center ">
    <div class="contain text-center text-white  rounded-3 p-4">
        <h1 class=" savior-doctor fw-bold fs-1 p-2">
            Welcome
        </h1>
       <p class="p-1 fs-3 fw-light ">
          In Your <span class="savior-doctor fw-bolder">Savior</span> at all time
          
       </p>

      <div>
        <button routerLink="/reserv"  class="bg-transparent text-white p-2 ps-3 pe-3 btn-savior rounded-3 me-1 fw-bold mt-1 reserve-btn">
            reservation <i class="fa-solid fa-book"></i>
           </button>
           <button routerLink="/cart" class="bg-transparent text-white  p-2 ps-3 pe-3 btn-savior rounded-3 ms-1  fw-bold mt-1">
            my Orders <i class="fa-solid fa-cart-shopping"></i>
           </button>
      </div>
       
       <button (click)="scrollToContact()"  class="bg-transparent text-white  p-2 ps-3 pe-3 btn-savior rounded-3 ms-1  fw-bold mt-3">
        Contact Us <i class="fa-solid fa-file-signature"></i>
       </button>

    </div>


</section> -->





    <!----------------------------- DashBoard ------------------------------>

           
 <div class="w-100 d-flex ps-1 pe-1 justify-content-center Alldash">
    <div class="dash  ps-2 pe-2 pt-3 pb-3 rounded-5 w-75 mt-3 shadow-lg d-flex gap-2 ">
     <button class="w-25 p-2 rounded-5 booking" routerLink="/reserv">
        My Booking <i class="fa-solid fa-book"></i>
     </button>
     <button class="w-25 p-2 rounded-5 orders" routerLink="/myOrder">
        My Orders <i class="fa-solid fa-cart-shopping"></i>
     </button>
     <button class="w-25 p-2 rounded-5 reuest" routerLink="/EmergencyUserRequested">
       Emergency <i class="fa-solid fa-truck-medical"></i>
     </button>
     <button class="w-25 p-2 rounded-5 contact" routerLink="/MedicalMemberRequest">
        My Medical <i class="fa-solid fa-user-doctor"></i>
     </button>
     
    </div>
 </div>

    <!----------------------------- Ai Chat ------------------------------>

    <app-aichat></app-aichat>

    <!-- ------------------------- Services ---------------------------- -->

    <div class="servies-section container-fluid bg-black mt-5 d-flex justify-content-center p-4">
        <div class="row  w-75 p-3 text-center d-flex flex-row gy-3 ">
            <div class="mb-3 ">
                <p class="p-ser ">  Services</p>
                <h1 class="fs-2 h1-ser">Check My Services</h1>
                <p class="p-ser "> What Service do you need ? Check now can i help you!</p>
            </div>
            @for (details of details; track $index) {
                
                <div class=" col-md-6 col-lg-4  " >
                    <div class="bg-white p-4 rounded-3 dev-item">
                        <div class="text-start">
                            <i class= {{details.icon}} ></i>
                            <h6 class="mt-3 icon-des fw-bold"> {{details.tittle}} </h6>
                            <p class="fw-bold text-black-50"> {{details.detals}} </p>

                            <button class="btn btn-primary"
                            routerLink={{details.route}} 
                              > <span class=""> learn more </span>  
                                 </button>
                         </div>
                    </div>
                         
                </div>
            }
               
        </div>
    </div>
 
    <!-- ------------------------- Slider ---------------------------- -->
  
    <app-home-slider class="m-0 p-0"></app-home-slider>

	<!-- ------------------------- Contact Us ---------------------------- -->

  <div class="ContactUs p-3 mt-4 ">
    <h1 class="text-center fw-bold">
        Contact Us
    </h1>
    <p class="text-center p-2 p-tittle">
        You can contact us through the following numbers and you can also  evaluate <br>
         our website by writing a message at the bottom of the page
    </p>
   <div class="container-fluid mt-5 pt-5  contact-icon">
     <div class="row">
        <div class="col-sm-6 col-md-3 ">
             <div class="items p-3 text-center">
                <i class="fa-regular fa-envelope item-icon"></i>
                <p class="mt-3 fw-bold fs-5 item-p">
                    Email Address
                </p>
                <p class="pp-1">
                     ahnurmed16&#64;Gmail.com
                </p>
                <p class="pp-2">
                     ahnurmed16&#64;Gmail.com
                </p>

             </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
             <div class="items p-3 text-center">
                <i class="fa-solid fa-phone-flip item-icon"></i>  
                <p class="mt-3 fw-bold fs-5 item-p">
                   Phone Number
                </p>
                <p class="pp-1">
                     01018097608
                </p>
                <p class="pp-2">
                     01557114643
                </p>

             </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
             <div class="items p-3 text-center">
                <i class="fa-solid fa-location-dot ps-4 pe-4 item-icon"></i> 
                <p class="mt-3 fw-bold fs-5 item-p">
                   Office Location
                </p>
                <p class="pp-1">
                     10th of Ramadan. EGP
                </p>
                <p class="pp-2">
                     El-Shrouk. EGP
                </p>

             </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
             <div class="items p-3 text-center">
                <i class="fa-solid fa-clock item-icon"></i> 
                <p class="mt-3 fw-bold fs-5 item-p">
                    Work Day
                </p>
                <p class="pp-1">
                     All Days : 8:00 - 12:00
                </p>
                <p class="pp-2">
                     Expect (Friday)
                </p>

             </div>
        </div>
    
     </div>
   </div>
     
     <!-- ---------------------------------------------------------- -->
    
      <div class="container-fluid contact-massage mt-5 pt-5" id="contact">
        
        
       <div class="row">
         <!-- fofrm -->
        <div class="col-md-6 ps-5 pe-5">

            <div class="">
                <p class="p-contact fw-bold">Contact</p>
                <h3 class="fw-bold pt-2 pe-3 pb-3">
                    Get In Touch With Us
                </h3>
                <p>
                    Contact us anytime or leave us a message here <br>
                    We hope to be a constant source of benefit.
                </p>
            </div>
            <form  [formGroup]="FeedbackForm" (ngSubmit)="SendFeedBack()">
              
                <div class="Massage-items mt-4 d-flex">
                    <div class="w-100 ">
                        <div class="form-floating ">
                            <input formControlName="name" type="text" class=" input-bg form-control shadow-none  rounded-3  " id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" class=" text-black">Your Name</label>
                            @if (FeedbackForm.get('name')?.errors && FeedbackForm.get('name')?.touched) {
                                <div class="p-0 m-0">

                                    @if (FeedbackForm.get('name')?.errors?.['required']) {
                                        <p class="validation p-0 m-0 ms-1"> First Name is required <i class="fa-solid fa-face-angry"></i> </p>
                                    }
                                    @if (FeedbackForm.get('name')?.errors?.['maxlength']) {
                                        <p class="validation p-0 m-0 ms-1"> first Name Max Lenght = 12 <i class="fa-solid fa-face-angry"></i> </p>
                                      }
                                      @if (FeedbackForm.get('name')?.errors?.['minlength']) {
                                        <p class="validation p-0 m-0 ms-1"> first Name Min Lenght = 3 <i class="fa-solid fa-face-angry"></i> </p>
                                      }


                                </div>
                            }
                          </div>
                     </div>

                     
                   </div>
                   <div class="form-floating mt-3">
                    <textarea formControlName="feedback"  class="form-control input-bg shadow-none rounded-3" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea " class="text-black">Message</label>
                    @if (FeedbackForm.get('feedback')?.errors&& FeedbackForm.get('feedback')?.touched) {

                        <div class="p-0 m-0">
                            @if (FeedbackForm.get('feedback')?.errors?.['required']) {
                                <p class="p-1 m-0 validation"> please Give Your Feedback <i class="fa-solid fa-face-smile"></i> </p>

                            }
                        </div>
                    }
                  </div>

                  <div  class="mt-3 massage-btn">
                    <button class="btn btn-primary w-100">
                        @if (spinner) {
                            <i class="fa fa-spin fa-spinner"></i>
                        }@else {

                            Send Massage
                        }
                    </button>

                    <p class="p-1 mt-2 fs-5 fw-bold SeeFeedbak cuesor-pointer" routerLink="/ContactUs">
                     <i class="fa-solid fa-right-long "></i> See User Feedback</p>
                  </div>

            </form>
           
          
        </div>
         <!-- photo-->
        <div class="col-md-6 mass-photo">
             <div class="img-massage ps-5 pe-3 pt-3 border border-1">
                 <img src="../../../assets/imege/shake.jpg" alt="" class="w-100 rounded-3 " height="500px">
             </div>
        </div>

       </div>
      </div>
  </div>




