<div class="signup-container ">
  <div class="signup-card">
    <h2 class="title">Forget Password</h2>
  
    <form [formGroup]="forgetForm"  (ngSubmit)="SubmitForget()"> 

      
      
        <div class="input-group">
      
          <input formControlName="email" type="email" placeholder="Enter your email" />
  
          @if (forgetForm.get('email')?.errors && forgetForm.get('email')?.touched) {
  
            <div class="  p-0 m-0">
                @if (forgetForm.get('email')?.errors?.['required']) {
                    <p class="p-1 m-0 validation"> email is required <i class="fa-solid fa-face-angry"></i> </p>
  
                }
                @if (forgetForm.get('email')?.errors?.['email']) {
                    <p class="p-1 m-0 validation"> please enter email  <i class="fa-solid fa-face-angry"></i> </p>
  
                }
                
            </div>
  
        }
            
  
        </div>

    
      
        <button [disabled]="forgetForm.invalid"  class="signup-btn fw-bold fs-5">
          @if (spinner) {
            <i class="fa fa-spin fa-spinner"></i>
           
        }
        @else {
            <span> Send Email </span>
        }
        </button>
        
      </form> 

    <p class="cuesor-pointer forget m-3 ms-auto text-start fs-6"
    routerLink="/login">
   <span class="arrow"> ← </span> Back To Login 
  </p>
   
  
</div>