.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #0D4F9B);
    position: relative;
    overflow: hidden;
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 180px;
      height: 180px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      z-index: 0;
    }
  
    &::before {
      top: 50px;
      left: -50px;
    }
  
    &::after {
      bottom: 50px;
      right: -50px;
    }
  }
  
  .signup-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    position: relative;
    z-index: 1;
  }
  
  .title {
    color: #0D4F9B;
    font-size: 24px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 14px;
    color: #888;
  }
  
 
  
  .input-group {
    text-align: left;
    margin-bottom: 15px;
  
    label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px ;
      color: #555;
    }
  
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
      transition: 0.3s;
  
      &:focus {
        border-color: #0D4F9B;
        box-shadow: 0 0 5px rgba(105, 101, 225, 0.3);
      }
    }
  }
  
  .signup-btn {
    width: 100%;
    background: linear-gradient(to right, #667eea, #0D4F9B);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  
    &:hover {
      opacity: 0.8;
    }
  }
  
  .login-text {
    font-size: 14px;
    margin-top: 10px;

    a {
      color: #0D4F9B;
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s;
  
      &:hover {
        text-decoration: underline;
      }
    }
   
  
  }
  .arrow{
    font-size: large;
  }
  .cuesor-pointer{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
  color: #0D4F9B;
   
  }