<section class="p-5  d-flex justify-content-center align-content-center">
    
    <div class=" w-100 justify-content-center align-content-center">
               
        <div class="container backgroun-c w-50 text-white justify-content-center align-content-center rounded-4 shadow-lg p-3 pb-3">
                 
            <!-- <i class="fa-solid fa-hand-holding-heart icon-sign rounded-circle"></i> -->
    
            <div class="p-3 text-center">
                <h1> Code Confirm </h1>
    
                <hr>
            </div>
            
    
             <!-- <form > -->
                      
                
                <div class="form-floating mb-3">
                    <input type="" class="form-control bg-white" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="text-black"> Code </label>
                  </div>
                

                  <button  class="btn btn-primary w-100 "
                  routerLink="/newPass"
                  >Send Code</button>
                  
                  
                  
                  
             <!-- </form> -->
        </div>

    </div>



</section>