<div class="signup-container mt-5">
  <div class="signup-card">
    <h2 class="title">New Password</h2>
  
    <!-- <form> -->
      <div class="input-group">
      
        <input type="email" placeholder="Enter your email" />
      </div>
      <div class="input-group">
      
        <input type="tel" placeholder="Enter New Password" />
      </div>
      <div class="input-group">
      
        <input type="tel" placeholder="Confirm New Password" />
      </div>

    

      <button class="signup-btn"
       routerLink="/login"
      >New Password</button>
    <!-- </form> -->

   
   
  </div>
</div>