<div class="signup-container ">
  <div class="signup-card">
    <h2 class="title">New Password</h2>
  
    <form [formGroup]="NewForm" (ngSubmit)="SubmitNew()">
     
     
      
        <div class="input-group">
      
          <input formControlName="newPassword" type="password" placeholder="Enter your newPassword" />
  
          @if (NewForm.get('newPassword')?.errors && NewForm.get('newPassword')?.touched) {
  
            <div class="  p-0 m-0">
                @if (NewForm.get('newPassword')?.errors?.['required']) {
                    <p class="p-1 m-0 validation"> newPassword is required <i class="fa-solid fa-face-angry"></i> </p>
  
                }
                @if (NewForm.get('newPassword')?.errors?.['pattern']) {
                  <p class="p-1 m-0 validation"> password must be at least 8 characters long and include at least one uppercase letter,
                    one lowercase letter, one number, and one special character ( !&#64;#$).
                     <i class="fa-solid fa-face-angry"></i> </p>
  
                }
                
            </div>
  
        }
            
  
        </div>
        
        <div class="input-group">
        
          <input formControlName="confirmNewPassword" type="password" placeholder="Enter your confirmNewPassword" />
  
          @if (NewForm.get('confirmNewPassword')?.errors && NewForm.get('confirmNewPassword')?.touched) {
  
            <div class="  p-0 m-0">
                @if (NewForm.get('confirmNewPassword')?.errors?.['required']) {
                    <p class="p-1 m-0 validation"> confirmNewPassword is required <i class="fa-solid fa-face-angry"></i> </p>
  
                }
                @if (NewForm.get('confirmNewPassword')?.errors?.['missmatch']) {
                    <p class="p-1 m-0 validation">  Confirm Password not match with password 
                       <i class="fa-solid fa-face-angry"></i> </p>
  
                }
                
            </div>
  
        }
  
        </div>

    

      <button class="signup-btn rounded-5">
        @if (spinner) {
          <i class="fa fa-spin fa-spinner"></i>
        }
        @else {
          New Password
        }
      </button>
       
      
    
    </form>

   
   
  </div>
</div>