<div class="user-resrv">
    <div class="container  d-flex justify-content-center">
        <div class="info-card p-4">
            <h2>Appointment Details</h2>
        

            <div class="info-item">
                <span class="info-label">DR. Name:</span>
                <span class="info-value">Ahmed Sami</span>
            </div>
            <div class="info-item">
                <span class="info-label">Phone:</span>
                <span class="info-value">01018097608</span>
            </div>
    
            <div class="info-item">
                <span class="info-label">Patient Name:</span>
                <span class="info-value">Mohamed Ahmed</span>
            </div>
    
            <div class="info-item">
                <span class="info-label">Fees:</span>
                <span class="info-value">300 EGP</span>
            </div>
    
            <div class="info-item">
                <span class="info-label">Payment:</span>
                <span class="info-value">Cash</span>
            </div>
    
            <div class="info-item">
                <span class="info-label">Day:</span>
                <span class="info-value">Saturday - 15/3/2025</span>
            </div>
            <div class="info-item">
                <span class="info-label">Date:</span>
                <span class="info-value"> 5:30 PM</span>
            </div>
    
            <div class="info-item">
                <span class="info-label">Location:</span>
                <span class="info-value">10th of Ramadan - 19 Street</span>
            </div>
           
            <div class="info-item d-flex  align-items-center">
           
                <span class="info-label">clinic photo:</span>

                <img src="../../../../assets/imege/Treatment – Freuding – lab and practice furnishing.jfif" 
                alt="Clinic Photo" class="clinic-img">
                
            </div>
           
    

        </div>
    
    </div>
</div>
