
<div class="cart-container shadow-lg">
    <div class=" justify-content-center text-center align-items-center p-3">
        <h1 class="cart-title "> Shopping Cart  <i class="fa-solid fa-cart-shopping"></i>
        </h1>
        <button class="btn btn-danger  empty-btn">
            Empty Cart <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    
    
    <div class="cart-items">
        <!-- Item 1 -->
        
        <div class="cart-item">
            <img src="../../../assets/imege/Voltaren.jpg" alt="Product Image" class="item-image">
            <div class="item-details">
                <h3 class="item-title">Voltaren</h3>
                <p class="item-price"> Price:33 EGP</p>
                <div class="item-quantity">
                    <button class="quantity-btn">-</button>
                    <span class="quantity">1</span>
                    <button class="quantity-btn">+</button>
                </div>
            </div>
            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>
        <!-- Item 2 -->
        <div class="cart-item">
            <img src="../../../assets/imege/Zyrtec.avif" alt="Product Image" class="item-image">
            <div class="item-details">
                <h3 class="item-title">Zyrtec</h3>
                <p class="item-price"> Price:40 EGP</p>
                <div class="item-quantity">
                    <button class="quantity-btn">-</button>
                    <span class="quantity">1</span>
                    <button class="quantity-btn">+</button>
                </div>
            </div>
            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>

        <!-- Item 3 -->
         
        <div class="cart-item">
            <img src="../../../assets/imege/Antinal.jpg" alt="Product Image" class="item-image">
            <div class="item-details">
                <h3 class="item-title">Antinal</h3>
                <p class="item-price"> Price:23 EGP</p>
                <div class="item-quantity">
                    <button class="quantity-btn">-</button>
                    <span class="quantity">1</span>
                    <button class="quantity-btn">+</button>
                </div>
            </div>
            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>

    </div>

    <div class="cart-summary">
        <h3 class="total">Total: <span id="total-price">250</span> EGP</h3>
        <div class="d-flex  p-2 justify-content-center gap-3 ">
         <button class="btn btn-primary ps-3 pe-3 fw-bold dlievery"> Dlievery Request </button>
         <button class="btn btn-primary fw-bold nearest"> Nearest Pharmacy </button>
        </div>
    </div>
</div>




